/* pixelDisplay.css */

@font-face {
    font-family: 'FixelDisplay';
    src: url('../../public/fonts/FixelDisplay-Thin.woff2') format('woff2');
    font-weight: 100; /* Thin */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FixelDisplay';
    src: url('../../public/fonts/FixelDisplay-SemiBold.woff2') format('woff2');
    font-weight: 600; /* SemiBold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FixelDisplay';
    src: url('../../public/fonts/FixelDisplay-Regular.woff2') format('woff2');
    font-weight: normal; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FixelDisplay';
    src: url('../../public/fonts/FixelDisplay-Medium.woff2') format('woff2');
    font-weight: 500; /* Medium */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FixelDisplay';
    src: url('../../public/fonts/FixelDisplay-Light.woff2') format('woff2');
    font-weight: 300; /* Light */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FixelDisplay';
    src: url('../../public/fonts/FixelDisplay-ExtraLight.woff2') format('woff2');
    font-weight: 200; /* ExtraLight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FixelDisplay';
    src: url('../../public/fonts/FixelDisplay-ExtraBold.woff2') format('woff2');
    font-weight: 800; /* ExtraBold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FixelDisplay';
    src: url('../../public/fonts/FixelDisplay-Bold.woff2') format('woff2');
    font-weight: bold; /* Bold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FixelDisplay';
    src: url('../../public/fonts/FixelDisplay-Black.woff2') format('woff2');
    font-weight: 900; /* Black */
    font-style: normal;
  }
  