@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
  background-image: url('../../public/images/hero-bg.png');
  background-size: cover;
  background-position: center;
  height: 693px;
}
.bg-hero.rtl {
  background-image: url('../../public/images/hero-rtl-bg.png');
}

.bg-testimoni-user {
  background-image: url('../../public/images/testimoni-bg-user.png');
  background-size: cover;
  background-position: center;
  height: 90px;
  width: 114px;
}

@media (max-width: 767px) {
  .bg-hero {
    height: 593px;
  }
  /* br {
    display: none;
  } */
}
